.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: var(--font-mono);
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-style: italic;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.center {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.userInput {
  margin-left: 1rem;
}

.generateButton {
  font-size: 1.0rem;
  padding: 0.5rem;
  background-color: #262799ff;
  width: 120px;
  border-radius: 10px;
}

.headerText {
  font-size: 1.0rem;
  padding: 0.5rem;
  color: #fdd835;
}

.mealOption {
  padding: 0.5rem;
}

/* From loading.io*/
.ldsDualRing {
  display: none;
  width: 20px;
  height: 20px;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}